<h3>Detalhe do contato</h3>

<div class="row justify-content-start">

  <div class="col-9">

    <div class="form-group">
      <label>Nome</label>
      <p>{{contato?.nome}}</p>
    </div>
    <div class="form-group">
      <label>Telefone</label>
      <p>{{contato?.telefone}}</p>
    </div>
    <div class="form-group">
      <label>Email</label>
      <p>{{contato?.email}}</p>
    </div>
    <div class="form-group">
      <label>Tipo</label>
      <p>{{contato?.tipo}}</p>
    </div>
  
  </div>

</div>
